
POSTGRES_DB=abonbot_api_database
POSTGRES_USER=pg_user
POSTGRES_PASSWORD=1234
POSTGRES_HOST=postgres_abonbot_api
POSTGRES_PORT=5432

SUPERUSER_LOGIN=superuser
SUPERUSER_PASSWORD=1234
SUPERUSER_UUID=d73d7d12-482e-488f-8c29-4d77abadb419
SUPERROLE_NAME=superrole

SERVICE_URL=http://localhost:7557/

DEFAULT_CACHE_TTL=1